In [15]:
import pandas as pd
from sklearn import tree

In [46]:
test_data = pd.read_json('c:/users/user/downloads/dataset_209691_15.txt')
test_data.head()

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      27    32.4         1        1                   0
1      30    36.0         1        0                   0
10     32    38.4         1        1                   0
11     17    20.4         1        1                   0
12     21    25.2         1        1                   0

In [18]:
train_data = pd.read_csv('https://stepik.org/media/attachments/course/4852/dogs_n_cats.csv')
train_data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [20]:
train_data.isnull().sum()

Длина                 0
Высота                0
Шерстист              0
Гавкает               0
Лазает по деревьям    0
Вид                   0
dtype: int64

In [22]:
X_train = train_data.drop(columns = 'Вид')
X_train.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     15    18.0         1        1                   0
1     20    24.0         1        0                   0
2     34    40.8         1        1                   0
3     26    31.2         1        1                   0
4     16    19.2         1        1                   0

In [24]:
y_train = train_data['Вид']
y_train.head()

0    собачка
1    собачка
2    собачка
3    собачка
4    собачка
Name: Вид, dtype: object

In [27]:
clf = tree.DecisionTreeClassifier(criterion = 'entropy', max_depth = 5)

In [28]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [47]:
test_result = pd.DataFrame(clf.predict(test_data))
test_result.head()

         0
0  собачка
1  собачка
2  собачка
3  собачка
4  собачка

In [48]:
(test_result == 'собачка').sum()

0    47
dtype: int64

In [49]:
(test_result == 'котик').sum()

0    53
dtype: int64