In [1]:
import pandas as pd

In [39]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/submissions_data_train.zip')

In [40]:
df.head()

   step_id   timestamp submission_status  user_id
0    31971  1434349275           correct    15853
1    31972  1434348300           correct    15853
2    31972  1478852149             wrong    15853
3    31972  1478852164           correct    15853
4    31976  1434348123             wrong    15853

In [66]:
df1 = df.query('submission_status == "wrong"').groupby('step_id')['timestamp'].nunique().to_frame()
df1 = df1.rename(columns={'timestamp':'count'}).reset_index().sort_values(by = 'count', ascending = False)
df1.head()

    step_id  count
4     31978  16071
11    32031  13367
19    32202  12999
44    33481  10296
12    32075   9998